</div>

<div id="footer">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        {% include nav.html %}
        <div class="social">
          {% include github.html %}
          {% include twitter.html %}
          {% include rss.html %}
        </div>
      </div>
    </div>
    <!-- <div class="row-fluid"> -->
    <!--   <div class="span12"> -->
    <!--     <a class="btn source" href="http://github.com/awolfe76/awolfe76.github.com">Source</a> -->
    <!--   </div> -->
    <!-- </div> -->
    <div class="row-fluid">
      <div class="span12">
        <p>{{ site.disclaimer }}</p>
        <p>
	  <!-- <a href="http://creativecommons.org/licenses/by-nd/3.0/" target=_blank><img src="/img/by-nd.svg" alt="CC BY-ND 3.0">	  </a> -->
	  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
	  </a>
	  &nbsp; 2014  —  {{ site.author }}</p>
      </div>
    </div>
  </div>
</div>

<script src="/js/bootstrap-tooltip.js"></script>
<script>
$(document).ready(function() {
  //$(".twitter-tweet").css("margin-top", "20px").css("margin-bottom", "20px").css("margin-left", "auto").css("margin-right", "auto");
  $('.showtooltip').tooltip({
    delay: 200,
    placement: 'bottom'
  });
});
</script>

</body>
</html>

