</div>

<div id="footer">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        {% include nav.html %}
        <div class="social">
          {% include github.html %}
          {% include twitter.html %}
        </div>
      </div>
    </div>
    <!-- <div class="row-fluid"> -->
    <!--   <div class="span12"> -->
    <!--     <a class="btn source" href="http://github.com/awolfe76/awolfe76.github.com">Source</a> -->
    <!--   </div> -->
    <!-- </div> -->
    <div class="row-fluid">
      <div class="span12">
        <p>{{ site.disclaimer }}</p>
        <p>&copy; 2014 {{ site.name }}</p>
      </div>
    </div>
  </div>
</div>

<script src="/js/jquery-1.9.1.min.js"></script>

<script>
$(document).ready(function() {
  //$(".twitter-tweet").css("margin-top", "20px").css("margin-bottom", "20px").css("margin-left", "auto").css("margin-right", "auto");
});
</script>

<body>
</html>
