<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta charset='utf-8'>
  <meta name="description" content="{{ page.desc }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/css/awolfe76.css" media="screen"/>

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N4RVMZ"
		    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N4RVMZ');</script>
  <!-- End Google Tag Manager -->
  <div id="header">
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span6">
          <h1><a class="awolfe76" href="/">{{ site.title }}</a></h1>
	</div>
	<div class="span6">
          <p class="hidden-phone">{{ site.desc }}</p>
          <p class="hidden-phone">{{ site.sub-desc }}</p>
          {% include nav.html %}
	</div>
      </div>
    </div>
  </div>
  <div class="content">
