{% include header.html %}

<div class="container-fluid">

  <div class="row-fluid">

    <div class="span12">

      {% include intro.html %}

      {% for post in site.posts %}

      {% if forloop.index <= 2 %}

			     <hgroup>
                               <h1><a href="{{ post.permalink }}">{{ post.title }}</a></h1>
                             </hgroup>
      <!-- <p class="date">{{ post.date | date: "%B %d, %Y" }}</p> -->
      <p class="date">{{ post.author }}</p>
      {{ post.desc }} &nbsp;&nbsp;<a href="{{ post.permalink }}"><font size="2">[zum Artikel]</font></a>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  
  <!-- <div class="row-fluid"> -->
  <!--   <div class="span12"> -->
  <!--     <a class="btn archive" href="/archives.html">Archives</a> -->
  <!--   </div> -->
  <!-- </div> -->

  
</div>

{% include footer.html %}


